tags-input *, *:before, *:after {
/*  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
tags-input .host:active {
  outline: none;
}

tags-input .tags {
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  height: 50px;
}
tags-input .tags.focused {
  outline: none;
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  margin: 5px;
  padding: 0 15px;
  display: inline-block;
  position: relative;
  top: 100px;
  /*float: left;*/
  font: 18px Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter;
  font-variant: small-caps;
  height: 30px;
  line-height: 25px;
}



tags-input .tags .tag-item.selected {
  background-color: #17c4ca;
}
tags-input .tags .tag-item:hover {
  background-color: #17c4ca;
  cursor: pointer;
}
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: 15px "Helvetica Neue" Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
  position: relative;
  top: -1px;
}
tags-input .tags .tag-item .remove-button:active {
  color: red;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #303030;
}

tags-input .tags {
  height: 150px;
}
tags-input .tags .input.invalid-tag {
  color: red;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
tags-input .autocomplete .suggestion-item.selected {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}