ul.tag-list .tag-item {
background: #428bca;
border: 1px solid #357ebd;
border-radius: 4px;
color: #fff;
}

img:hover{
	cursor: pointer;
}

.trend-container, .stats{
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}


.trend{
	width: 100px;
	height: 100px;
}	