/* MIX */
ul.tag-list .tag-item {
background: #ff6a6b;
color: white;
}

img {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
}

img:hover{
	cursor: pointer;
}

.trend-container, .stats{
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.trend{
	width: 100px;
	height: 100px;
}
/* --- BODY PROPERTIES --- */


body {
	background-color: #EBEBEB;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #919191;
	height: 100%;
}

a {
	text-decoration: none;
	color: #919191;
}

a:visited{
	color: #919191;
}

p {

}

h1 {

}

/* --- END BODY PROPERTIES --- */

/* --- HEADER --- */
.navbar {
	margin-bottom: 0;
}

.navbar-default {
	display: flex;
	justify-content: center;
	background-color: transparent;
	border: none;
}

.navbar-collapse {
	/*background-color: green;*/
}

.nav {
	/*background-color: yellow;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

/* logo */
.navbar-brand {
	/*background-color: lightblue;*/
	content: url(images/fluential_logo_transparent.png);
	width: 25%;
	height: 25%;

}

/* influencer and brand menu */
.influencer-nav {
	/*background-color: grey;*/
	color: #454545;
	border-bottom: solid #ff6a6b;
	margin-left: 100px;
}

.brand-nav {
	/*background-color: grey;*/
	color: #454545;
	border-bottom: solid #17c4ca;
	margin-right: 100px;
}
/* end influencer and brand menu */

.menu-nav {
	font-variant: small-caps;
	font-size: 1.25em;
}

/* PSEUDO ELEMENTS */

.navicon::after  {
	content: "☰";
	margin: 0 5px;
}

/* --- END HEADER --- */


/* --- SEARCH BAR --- */

.host {
	background-color: white;
	height: 200px;
	padding: 10px;
}

::-webkit-input-placeholder {
	font-weight: lighter;
}

.search-bar {
	background-color: white;
}

.fa-search {
  color: #303030;
  position: relative;
  top: 60px;
}

.fa-search:hover {
	cursor: pointer;
}
/**/

/* -- SEARCH RESULTS -- */

div .box-container {

}

.container {
	/*background-color: blue;*/
	width: 100%;
	margin-top: 30px;
}

.box {
	background-color: #fff;
	margin: 20px 5px 10px 5px;
	border-top: solid turquoise;
	border-bottom: 2px solid turquoise;
	padding: 0;
}

.btn-group {
	margin-left: 42%;
	margin-top: 20px;
}

.box img {
	width: 100%;
	border: 0;
	outline: none;
	margin: 0;
}

.box h1 {
	padding: 5px 10px;
	line-height: 1.5em;
	margin: 0;
	letter-spacing: 0.02em;
}

.box p {
	padding: 5px 10px;
	line-height: 1.3em;
	margin: 0;
	letter-spacing: 0.02em;
}

	.box p .views-number {
		font-weight: bold;
	}
.box-out {
	width:100%;
	height: 100%;
  transition: all 1s ease;
 }

/* hover */
.box-container:hover .overlay {
  background-color: #000;
  opacity:0.7;
}

.box-container:hover .button {
  width: 100%;
  height: 100%;
  margin: -96px auto 0 auto;
  background: url(http://immedesign.nl/cssdeck/next.png) center center no-repeat #0076ED;
  opacity: .7;
  transform:scale(1);
  animation-delay: inherit;
  animation:scale .5s infinite;   
  cursor: pointer;
}

.overlay {
	position: absolute;
	width: 88%;
  height: 90%;
  background: #000;
  opacity:0;
  transition: all 1s ease;
}
	.overlay h1 {
		color: white;
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
		margin-top: 50%;
	}

.button {
  width: 123px;
  height: 123px;
  margin: -123px auto 0 auto;
  background: url(http://immedesign.nl/cssdeck/next.png) center center no-repeat;
  opacity: 0;
  border-radius: 50%;
  transition: all .2s ease;
}

@keyframes scale {
  0%   { transform:scale(1); }
  50%   { transform:scale(1.1); }
  100% { transform:scale(1); }
}
/* -- END SEARCH RESULTS -- */
