/* MIX */
ul.tag-list .tag-item {
background: #428bca;
border: 1px solid #357ebd;
border-radius: 4px;
color: #fff;
}

img {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
}

img:hover{
	cursor: pointer;
}

.trend-container, .stats{
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.trend{
	width: 100px;
	height: 100px;
}
/* --- BODY PROPERTIES --- */

body {
	background-color: #EBEBEB;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #919191;
	height: 100%;
}

a {
	text-decoration: none;
	color: #919191;
}

a:visited{
	color: #919191;
}

p {

}

h1 {

}

/* --- END BODY PROPERTIES --- */

/* --- HEADER --- */
.navbar {
	/*background-color: blue;*/
	margin-bottom: 0;
}

.navbar-default {
	/*background-color: red;*/
	display: flex;
	justify-content: center;
}

.navbar-collapse {
	/*background-color: green;*/
}

.nav {
	/*background-color: yellow;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

/* logo */
.navbar-brand {
	/*background-color: lightblue;*/
	content: url(images/fluential_logo_transparent.png);
	width: 25%;
	height: 25%;

}

/* influencer and brand menu */
.influencer-nav {
	/*background-color: grey;*/
	color: #454545;
	border-bottom: solid salmon;
	margin-left: 100px;
}

.brand-nav {
	/*background-color: grey;*/
	color: #454545;
	border-bottom: solid turquoise;
	margin-right: 100px;
}
/* end influencer and brand menu */

.menu-nav {
	font-variant: small-caps;
	font-size: 1.25em;
}

/* PSEUDO ELEMENTS */

.navicon::after  {
	content: "☰";
	margin: 0 5px;
}

/* --- END HEADER --- */

/* -- SEARCH RESULTS -- */

.container {
	/*background-color: blue;*/
	width: 100%;
	margin-top: 30px;
}

.box {
	background-color: #fff;
	margin: 20px 5px 10px 5px;
	border-top: solid turquoise;
	border-bottom: 2px solid turquoise;
	padding: 0;
}

.box h1 {
	font-size: 1.5em;
}

.box img {
	width: 100%;
	border: 0;
	outline: none;
	margin: 0;
}

.box h1 {
	padding: 5px 10px;
	line-height: 1.5em;
	margin: 0;
	letter-spacing: 0.02em;
}

.box p {
	padding: 5px 10px;
	line-height: 1.3em;
	margin: 0;
	letter-spacing: 0.02em;
}

	.box p .views-number {
		font-weight: bold;
	}

/* -- END SEARCH RESULTS -- */